{% extends 'base.html' %}

{% block title %}
{{titulo}}
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header" id="top">
            <h2 class="pageheader-title text-center">{{titulo}}</h2>
        </div>
    </div>
    
    {% if perms.dbd.add_cliente %}
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
        <a href="#" onclick="return abrir_modal('{% url 'dbd:cliente_new' %}')" class="btn btn-outline-secondary"><i class="fa fa-plus" aria-hidden="true"></i>Agregar cliente</a>        
    </div>
    {% endif %}
</div>
<hr>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-body">
              <div class="table-responsive">
              <table class="table table-striped display nowrap" cellspacing="0"  style="width:100%">
                  <thead>
                    <th>ID</th>
                    <th>Cedula</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Estado</th>
                    <th class="all">Opciones</th>
                  </thead>
                  <tbody>
                  {% for cli in cliente_l %}
                    <tr>
                      <td>{{cli.id_cliente}}</td>
                      <td>{{cli.cedula}}</td>
                      <td>{{cli.nombre}}</td>
                      <td>{{cli.apellido}}</td>
                      <td>{{cli.correo}}</td>
                      <td>{{cli.telefono}}</td>
                      <td>{% if cli.estado %}
                      <span class="label label-success">Activo</span>
                      {% else %}
                      <span class="label label-danger">Inactivo</span>
                      {% endif %} </td>
                      <td>
                          
                          {% if perms.dbd.change_cliente %}
                          <button type="button"  class="btn btn-info btn-circle" onclick="return abrir_modal('{% url 'dbd:cliente_edit' cli.id_cliente %}')"><i class="fa fa-edit"></i></button>
                          {% endif %}
                          
                          {% if perms.dbd.delete_cliente %}
                          <button type="button" class="btn btn-danger btn-circle" onclick="return abrir_modal('{% url 'dbd:cliente_delete' cli.id_cliente %}')"><i class="far fa-thumbs-down"></i></button>  
                          {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
              </table>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script>
$(document).ready(function() {
  $('.table').DataTable({
    "language": {
      "sProcessing": "Procesando...",
      "sLengthMenu": "Mostrar _MENU_ registros",
      "sZeroRecords": "No se encontraron resultados",
      "sEmptyTable": "Ningún dato disponible en esta tabla",
      "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
      "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
      "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
      "sInfoPostFix": "",
      "sSearch": "Buscar:",
      "sUrl": "",
      "sInfoThousands": ",",
      "sLoadingRecords": "Cargando...",
      "oPaginate": {
          "sFirst": "<span class='fa fa-angle-double-left'></span>",
          "sLast": "<span class='fa fa-angle-double-right'></span>",
          "sNext": "<span class='fa fa-angle-right'></span>",
          "sPrevious": "<span class='fa fa-angle-left'></span>"
      },
      "oAria": {
          "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
      }
    },
    responsive:true
  });
});
</script>
{% endblock extra_js %}