{% load widget_tweaks %}
<div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
        {% if obj %}
        <form method="POST" role="form" class="form-inline" action="{% url 'dbd:cliente_edit' obj.pk %}">
        {% else %}
        <form method="POST" role="form" class="form-inline" action="{% url 'dbd:cliente_new' %}">
        {% endif %}
        {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title" >{{titulo}} <i class=" fas fa-clipboard-list"></i></h5>
            </div>
            <div class="modal-body">
                <div class="card-body row">
                    <div class="col-md-6 mb-3">
                        <label class="col-3 col-lg-5 col-form-label text-right">{{form.cedula.label}}</label>
                        {{form.cedula}}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="col-3 col-lg-5 col-form-label text-right">{{form.nombre.label}}</label>
                        {{form.nombre}}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="col-3 col-lg-5 col-form-label text-right">{{form.apellido.label}}</label>
                        {{form.apellido}}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="col-3 col-lg-5 col-form-label text-right">{{form.correo.label}}</label>
                        {{form.correo}}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="col-3 col-lg-5 col-form-label text-right">{{form.telefono.label}}</label>
                        {{form.telefono}}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="col-3 col-lg-5 col-form-label text-right">{{form.direccion.label}}</label>
                        {{form.direccion}}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="col-3 col-lg-3 col-form-label text-right">{{form.estado.label}}</label>
                        {{form.estado}}
                    </div>
                </div>
            </div>             
            <div class="modal-footer">
                <button type="submit" class="btn btn-info">
                        <i class="fas fa-save"></i>
                        
                        {% if obj %}
                        Guardar Cambios
                        {% else %}
                        Guardar Registro
                        {% endif %}                            
                </button>       
                
                {% if obj %}
                {% else %}
                    <button type="reset" class="btn btn-primary" name="reset"> <i class="fas fa-undo"></i>
                        Limpiar Registro</button>
                {% endif %}             
                <button type="button" class="btn btn-danger" onclick="return cerrar_modal()">
                        <i class=" fas fa-exclamation-circle"></i> Cancelar
                </button>                          
            </div>
        </form>
    </div>
</div>   
<script type="text/javascript">
$(function() {

    var url = $("form").attr("action"); /*obtenemos el url correspondiente si es edit o new*/
    
    var token = jQuery("[name=csrfmiddlewaretoken]").val();/*vamos a leer el csrftoken que tiene el form */
    
    $("form").submit(function(e){
        e.preventDefault();
        /*capturamos la data del formulario*/
        var formData= $("form").serializeArray(); /*nos devuelve un array con los respectivos datos del form*/

        $.ajax({
            url:url,
            method:"POST",
            headers:{'x-CSRFToken':token},
            data :formData
        })
        .done(function(r,textStatus,xhr){ /*preguntaremos si se ejecuto bien*/
            if(xhr.status = 200){ /*preguntaremos por el status */
                /*alertify.set('notifier','position','bottom-rigth');
                alertify.set('notifier','delay', 20);
                alertify.success('Registro exitoso');*/
                {% if obj %}
                mensaje('Cambio guardado exitosamente','success','Editado! Exitosamente');
                cerrar_modal();
                location.reload();
                {% else %}
                mensaje('Registro guardado exitoso','success','Registrad! Exitosamente');
                cerrar_modal();
                location.reload();
                {% endif %}
            }
            else{ /*si no es True, le pasamos la function mensaje(); ya creada*/
                mensaje(textStatus);
            }
        }).fail(function(error){ /*si fallase algo,el form nos mandara el mensaje de error de lo que esta mal en el form*/
            /*var data=xhr.responseText;
            /*var jsonResponse = JSON.parse(data);
            /*var keyNames = Object.keys(jsonResponse);*/
            mensaje(error.responseText); /*llamamos a nuestra funcion para que nos vote un modal de error*/
        });
    });
});
</script>