{% load widget_tweaks %}
<div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
        {% if obj %}
        <form method="POST" role="form" class="form-inline" action="{% url 'dbd:cliente_edit' obj.pk %}">
        {% else %}
        <form method="POST" role="form" class="form-inline" action="{% url 'dbd:cliente_new' %}">
        {% endif %}
        {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title" >{{titulo}} <i class=" fas fa-clipboard-list"></i></h5>
            </div>
            <div class="modal-body">
                <div class="card-body row">
                    <div class="col-md-6 mb-3">
                        <label class="col-3 col-lg-5 col-form-label text-right">{{form.cedula.label}}</label>
                        {{form.cedula}}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="col-3 col-lg-5 col-form-label text-right">{{form.nombre.label}}</label>
                        {{form.nombre}}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="col-3 col-lg-5 col-form-label text-right">{{form.apellido.label}}</label>
                        {{form.apellido}}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="col-3 col-lg-5 col-form-label text-right">{{form.correo.label}}</label>
                        {{form.correo}}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="col-3 col-lg-5 col-form-label text-right">{{form.telefono.label}}</label>
                        {{form.telefono}}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="col-3 col-lg-5 col-form-label text-right">{{form.direccion.label}}</label>
                        {{form.direccion}}
                    </div>
                    {% if obj %}
                    <div class="col-md-6 mb-3">
                        <label class="col-3 col-lg-3 col-form-label text-right">{{form.estado.label}}</label>
                        {{form.estado}}
                    </div>
                    {% else %}

                    {% endif %}
                </div>
            </div>             
            <div class="modal-footer">
                <button type="submit" class="btn btn-info">
                        <i class="fas fa-save"></i> 
                        Guardar Registro
                </button>                    
                <button type="button" class="btn btn-danger" onclick="return cerrar_modal()">
                        <i class=" fas fa-exclamation-circle"></i> Cancelar
                </button>                          
            </div>
        </form>
    </div>
</div>