{% extends 'base.html' %}

{% block title %}
{{titulo}}
{% endblock title %}


{% block content %}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header" id="top">
            <h2 class="pageheader-title text-center">{{titulo}}</h2>
        </div>
    </div>
    <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 ">
        <a href="#" onclick="abrir_modal('{% url 'dbd:ped_new' %}')" class="btn btn-outline-secondary"><i class="fa fa-plus" aria-hidden="true"></i>Agregar Pedido</a>        
    </div>
    <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 text-right">
        <a href="{% url 'dbd:reporte_pedido' %}" class="btn btn-outline-primary" target="_blank"><i class="fas fa-file-pdf" aria-hidden="true"></i>
        Imprimir Pedidos</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-body">
              <div class="table-responsive">
              <table  class="table table-striped display nowrap" cellspacing="0" style="width:100%">
                  <thead>
                    <th>N* Pedido</th>
                    <th>Fecha Pedido</th>
                    <th>Estado Pedido</th>
                    <th>Forma Pago</th>
                    <th>Estado</th>
                    <th>Subtotal</th>
                    <th>Iva</th>
                    <th>Total</th>
                    <th class="all">Opciones</th>
                  </thead>
                  <tbody>
                  {% for ped in pedido_l %}
                  <tr>
                    <td>{{ped.num_pedido}}</td>
                    <td>{{ped.fecha_pedido|date:'d/m/Y'}}</td>
                    <td>{{ped.estado_pedido}}</td>
                    <td>{{ped.forma_pago}}</td>
                    <td>{% if ped.estado %}
                    <span class="label label-success">Activo</span>
                      {% else %}
                      <span class="label label-danger">Inactivo</span>
                      {% endif %}</td>
                    <td>{{ped.subtotal}}</td>
                    <td>{{ped.iva}}</td>
                    <td>{{ped.total}}</td>
                    <td>
                      <a href="{% url 'dbd:pedido_edit' ped.id_pedido %}" class="btn btn-info btn-circle"  ><i class="fas fa-cog"></i></button>
                      <a href="{% url 'dbd:reporte_pedido_cliente' ped.id_pedido %}" class="btn btn-dark btn-circle" target="_blank" ><i class="fas fa-file-pdf"></i></button>
                      <a href="#" onclick="return abrir_modal('{% url 'dbd:pedido_status' ped.id_pedido %}')"  class="btn btn-danger btn-circle"  ><i class=" fas fa-edit"></i></button>
                      <a href="#" onclick="return abrir_modal('{% url 'dbd:pedido_delete' ped.id_pedido %}')"  class="btn btn-warning btn-circle"  ><i class=" fas fa-trash"></i></button>
                    </td>
                  </tr>
                  {% endfor %}
                  </tbody>
              </table>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script>
 $(document).ready(function() {
  $('.table').DataTable({
    "language": {
      "sProcessing": "Procesando...",
      "sLengthMenu": "Mostrar _MENU_ registros",
      "sZeroRecords": "No se encontraron resultados",
      "sEmptyTable": "Ningún dato disponible en esta tabla",
      "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
      "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
      "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
      "sInfoPostFix": "",
      "sSearch": "Buscar:",
      "sUrl": "",
      "sInfoThousands": ",",
      "sLoadingRecords": "Cargando...",
      "oPaginate": {
          "sFirst": "<span class='fa fa-angle-double-left'></span>",
          "sLast": "<span class='fa fa-angle-double-right'></span>",
          "sNext": "<span class='fa fa-angle-right'></span>",
          "sPrevious": "<span class='fa fa-angle-left'></span>"
      },
      "oAria": {
          "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
      }
    },
    responsive:true,
  });
});
</script>
{% endblock extra_js %}