<div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
        <form method="POST" role="form" class="form-inline" action="{% url 'dbd:pedido_status' obj.pk %}">
            {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title" >{{titulo}}</h5>
            </div>
            <div class="modal-body">
                <div class="card-body row">
                     <div class="col-md-6 mb-3">
                        <label class="col-3 col-lg-8 col-form-label text-right">{{form.num_pedido.label}}</label>
                        {{form.num_pedido}}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="col-3 col-lg-5 col-form-label text-right">{{form.cliente.label}}</label>
                        {{form.cliente}}
                    </div>
                </div>
            </div>             
            <div class="modal-footer">
                <button type="submit" class="btn btn-warning">
                        <i class="fas fa-trash"></i> 
                        Si 
                </button>                    
                <button type="button" class="btn btn-danger" onclick="return cerrar_modal()">
                        <i class=" fas fa-exclamation-circle"></i> Cancelar
                </button>                          
            </div>
        </form>
    </div>
</div>

