{% load widget_tweaks %}
<div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
        {% if obj %}
        <form method="POST" role="form" class="form-inline" action="{% url 'dbd:producto_edit' obj.pk %}" enctype="multipart/form-data">
        {% else %}
        <form method="POST" role="form" class="form-inline" action="{% url 'dbd:producto_new' %}" enctype="multipart/form-data">
        {% endif %}
        {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title" >{{titulo}} <i class=" fas fa-clipboard-list"></i></h5>
            </div>
            <div class="modal-body">
                <div class="card-body row">
                    <div class="col-md-6 mb-3">
                        <label class="col-3 col-lg-4 col-form-label text-right">{{form.nombre.label}}</label>
                        {{form.nombre}}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="col-3 col-lg-5 col-form-label text-right">{{form.id_categoria.label}}</label>
                        {{form.id_categoria}}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="col-3 col-lg-3 col-form-label text-right">{{form.costo.label}}</label>
                        {{form.costo}}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="col-3 col-lg-4 col-form-label text-right">{{form.existencia.label}}</label>
                        {{form.existencia}}
                    </div>
                    <div class="custom-control col-md-8 mb-3">
                        {% if obj %}
                        {{form.imagen}}
                        {% else %}
                        <label class="col-3 col-lg-4 col-form-label text-right">{{form.imagen.label}}</label>
                        {{form.imagen|add_class:'form-control-file'}}
                        {% endif %}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="col-3 col-lg-3 col-form-label text-right">{{form.estado.label}}</label>
                        {{form.estado}}
                    </div>
                    <div class="form-group col-md-9 mb-3">
                        <label class="col-3 col-lg-3 col-form-label text-right">{{form.descripcion.label}}</label>
                        <div class="col-4 col-lg-10">
                        {{form.descripcion|attr:'rows:2'|attr:'cols:40'}}
                        </div>
                    </div>
                </div>
            </div>             
            <div class="modal-footer">
                <button type="submit" class="btn btn-info">
                        <i class="fas fa-save"></i> 
                        Guardar Registro
                </button>                    
                <button type="button" class="btn btn-danger" onclick="return cerrar_modal()">
                        <i class=" fas fa-exclamation-circle"></i> Cancelar
                </button>                          
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
$(function() {

    var url = $("form").attr("action"); /*obtenemos el url correspondiente si es edit o new*/
    
    var token = jQuery("[name=csrfmiddlewaretoken]").val();/*vamos a leer el csrftoken que tiene el form */
    
    $("form").submit(function(e){
        e.preventDefault();
        /*capturamos la data del formulario*/
        /*var formData= $("form").serializeArray(); /*nos devuelve un array con los respectivos datos del form*/
        var parameters = new FormData(this);

        parameters.forEach(function(value,key){
            console.log(key+':'+value);
        });

        $.ajax({
            url:url,
            method:"POST",
            headers:{'x-CSRFToken':token},
            data :parameters,
            processData: false,
            contentType: false,
        })
        .done(function(r,textStatus,xhr){ /*preguntaremos si se ejecuto bien*/
            if(xhr.status = 200){ /*preguntaremos por el status */
                location.reload(true); /*si es True, recargaremos la pagina*/
            }
            else{ /*si no es True, le pasamos la function mensaje(); ya creada*/
                mensaje(textStatus);
            }
        }).fail(function(error){ /*si fallase algo,el form nos mandara el mensaje de error de lo que esta mal en el form*/
               mensaje('Registro ya existente o ya coincide con otro'); /*llamamos a nuestra funcion para que nos vote un modal de error*/
            });
    });
});
</script>