{% extends 'base.html' %}

{% block title %}
{{titulo}}
{% endblock title %}

{% block extra_css %}
<style>
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

</style>
{% endblock extra_css %}

{% block content %}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header" id="top">
            <h2 class="pageheader-title text-center">{{titulo}}</h2>
        </div>
    </div>
    <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
        <a href="#" onclick="return abrir_modal('{% url 'dbd:producto_new' %}')"  class="btn btn-outline-secondary"><i class="fa fa-plus" aria-hidden="true"></i>
        Agregar Producto</a>
    </div>
    <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 text-right">
        <a href="{% url 'dbd:reporte_producto' %}" class="btn btn-outline-primary" target="_blank"><i class="fas fa-file-pdf" aria-hidden="true"></i>
        Imprimir Productos</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-body">
              <div class="table-responsive">
              <table id="dataTable" class="table table-striped" style="width:100%">
                  <thead>
                    <th>ID</th>
                    <th>Imagen</th>
                    <th>Producto</th>
                    <th>Descripcion</th>
                    <th>Categoria</th>
                    <th>Stock</th>
                    <th>Precio $</th>
                    <th>Estado</th>
                    <th class="all">Opciones</th>
                  </thead>
                  <tbody>
                    {% for producto in producto_l %}
                      <tr>
                        <td>{{producto.id_producto}}</td>
                        <td>
                          <div class="m-r-10">
                            <img src="{{producto.get_image}}"  class="rounded" width="30">
                          </div>
                        </td>
                        <td>{{producto.nombre}}</td>
                        <td>{{producto.descripcion}}</td>
                        <td>{{producto.id_categoria}}</td>
                        <td>{{producto.existencia}}</td>
                        <td>{{producto.precio}}</td>
                        <td>{% if producto.estado %}
                            <span class="label label-success">Activo</span>
                            {% else %}
                            <span class="label label-danger">Inactivo</span>
                            {% endif %} 
                        </td>
                        <td>
                            <button type="button" class="btn btn-info btn-circle"  onclick="return abrir_modal('{% url 'dbd:producto_edit' producto.id_producto %}')" ><i class="far fa-edit"></i></button>
                            <button type="button" class="btn btn-danger btn-circle"  onclick="return abrir_modal('{% url 'dbd:producto_delete' producto.id_producto %}')" ><i class="far fa-thumbs-down"></i></button>
                        </td>
                        </tr>
                    {% endfor %}
                  </tbody>
              </table>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script>
  $(document).ready(function() {
    $('#dataTable').DataTable()
    });
</script>
{% endblock extra_js %}