#ignorando archivos no utiles 
templates/dashboard-influncer.html
templates/dashboard-finance.html
templates/dashboard-sales.html
templates/ecommerce-product.html
templates/ecommerce-product-checkout.html
templates/ecommerce-product-single.html
templates/influencer-finder.html
templates/influencer-profile.html
templates/pages/404-page.html
templates/pages/accordions.html
templates/pages/blank-page.html
templates/pages/blank-page-header.html
templates/pages/bootstrap-select.html
templates/pages/calendar.html
templates/pages/cards.html
templates/pages/carousel.html
templates/pages/chart-c3.html
templates/pages/chart-chartist.html
templates/pages/chart-gauge.html
templates/pages/chart-charts.html
templates/pages/chart-sparkline.html
templates/pages/chart-morris.html
templates/pages/color-picker.html
templates/pages/cropped.html
templates/pages/cropper-image.html
templates/pages/data-tables.html
templates/pages/datepicker.html
templates/pages/email-compose.html
templates/pages/email-details.html
templates/pages/form-elements.html
templates/pages/forgot-password.html
templates/pages/general.html
templates/pages/form-validation.html
templates/pages/general-table.html
templates/pages/icon-flag.html
templates/pages/icon-fontawesome.html
templates/pages/icon-material.html
templates/pages/icon-themify.html
templates/pages/icon-simple-lineicon.html
templates/pages/icon-weather.html
templates/pages/inbox.html
templates/pages/index.html
templates/pages/invoice.html
templates/pages/listgroup.html
templates/pages/login.html
templates/pages/map-google.html
templates/pages/map-vector.html
templates/pages/media-object.html
templates/pages/message-chat.html
templates/pages/multiselect.html
templates/pages/pages-app.html
templates/pages/pages-sign-up.html
templates/pages/pricing.html
templates/pages/sign-up.html
templates/pages/sortable-nestable-lists.html
templates/pages/tabs.html
templates/pages/timeline.html
templates/pages/typography.html
templates/pages/user-profile.html
templates/pages/widgets.html
templates/README.md


SistemaGestionPedidos/__pycache__
apps/__pycache__
apps/dbd/__pycache__
apps/dbd/forms/categoria/__pycache__
apps/dbd/migrations/__pycache__
apps/dbd/modelos/__pycache__
apps/dbd/views/categoria/__pycache__
apps/dbd/views/dashboard/__pycache__
apps/lhp/__pycache__
apps/lhp/migrations/__pycache__
templates/dashboard-influencer.html
