
# Created by https://www.toptal.com/developers/gitignore/api/django,python
# Edit at https://www.toptal.com/developers/gitignore?templates=django,python

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# If your build process includes running collectstatic, then you probably don't need or want to include staticfiles/
# in your Git repository. Update and uncomment the following line accordingly.
# <django-project-name>/staticfiles/

### Django.Python Stack ###
# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytestdebug.log

# Translations
*.mo

# Django stuff:

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
doc/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

### Python ###
# Byte-compiled / optimized / DLL files

# C extensions

# Distribution / packaging

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.

# Installer logs

# Unit test / coverage reports

# Translations

# Django stuff:

# Flask stuff:

# Scrapy stuff:

# Sphinx documentation

# PyBuilder

# Jupyter Notebook

# IPython

# pyenv

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.

# PEP 582; used by e.g. github.com/David-OConnor/pyflow

# Celery stuff

# SageMath parsed files

# Environments

# Spyder project settings

# Rope project settings

# mkdocs documentation

# mypy

# Pyre type checker

# pytype static type analyzer

# End of https://www.toptal.com/developers/gitignore/api/django,python

#ignorando archivos no utiles 
templates/dashboard-influncer.html
templates/dashboard-finance.html
templates/dashboard-sales.html
templates/ecommerce-product.html
templates/ecommerce-product-checkout.html
templates/ecommerce-product-single.html
templates/influencer-finder.html
templates/influencer-profile.html
templates/pages
templates/README.md


SistemaGestionPedidos/__pycache__
apps/__pycache__
apps/dbd/__pycache__
apps/dbd/forms/categoria/__pycache__
apps/dbd/migrations/__pycache__
apps/dbd/modelos/__pycache__
apps/dbd/views/categoria/__pycache__
apps/dbd/views/dashboard/__pycache__
apps/lhp/__pycache__
apps/lhp/migrations/__pycache__
templates/dashboard-influencer.html
apps/dbd/migrations
apps/dbd/views/proveedor/__pycache__
apps/dbd/forms/proveedor/__pycache__
apps/dbd/forms/proveedor/__pycache__
apps/dbd/forms/proveedor/__pycache__/proveedor_form.cpython-36.pyc
apps/dbd/views/proveedor/__pycache__/views.cpython-36.pyc
apps/dbd/views/roles/__pycache__/views.cpython-36.pyc
apps/dbd/forms/roles/__pycache__/rol_form.cpython-36.pyc
apps/acts/__pycache__/views.cpython-36.pyc
apps/acts/__pycache__/views.cpython-36.pyc
apps/acts/__pycache__/__init__.cpython-36.pyc
apps/acts/__pycache__/admin.cpython-36.pyc
apps/acts/__pycache__/forms.cpython-36.pyc
apps/acts/__pycache__/models.cpython-36.pyc
apps/dbd/forms/cliente/__pycache__/cliente_form.cpython-36.pyc
apps/dbd/views/cliente/__pycache__/views.cpython-36.pyc
SistemaGestionPedidos/settings.py
SistemaGestionPedidos/apps/acts/migrations
apps/acts/migrations/__pycache__/0001_initial.cpython-36.pyc
apps/acts/migrations/0001_initial.py
apps/acts/migrations/__pycache__/0001_initial.cpython-36.pyc
apps/acts/migrations/__pycache__/__init__.cpython-36.pyc
apps/dbd/views/reportes/__pycache__/views_reportes.cpython-36.pyc
.vscode/settings.json
apps/dbd/views/reportes/__pycache__/reporte_proveedor.cpython-36.pyc
apps/dbd/forms/producto/__pycache__/producto_form.cpython-36.pyc
apps/dbd/views/producto/__pycache__/views.cpython-36.pyc
media/product/2020/09/02/desasscarga.jpeg
media/product/2020/09/02/microsoft.png
media/product/2020/09/03/descarga_1.png
media/product/2020/09/03/greek.png
media/product/2020/09/03/josuelopez-computer.png
media/product/2020/09/03/marca.png
media/users/2020/09/03/asoprotseu-bg.png
apps/dbd/forms/pedido/__pycache__/pedido_form.cpython-36.pyc
apps/dbd/views/pedido/__pycache__/views.cpython-36.pyc
media/product/2020/09/05/title-asoproteseu.png
apps/dbd/views/reportes/__pycache__/reporte_producto.cpython-36.pyc
apps/dbd/views/mixin/__pycache__
apps/dbd/views/errors/__pycache__/views.cpython-36.pyc
media/users/2020/09/07/asoprotseu-bg.png
apps/dbd/views/reportes/__pycache__/reporte_pedido.cpython-36.pyc
media/product/2020/09/17/asoprotseu-bg.png
media/product/2020/09/17/descarga.jpeg
media/users/2020/09/17/user.png
apps/acts/__pycache__/__init__.cpython-37.pyc
apps/acts/__pycache__/admin.cpython-37.pyc
apps/acts/__pycache__/forms.cpython-37.pyc
apps/acts/__pycache__/models.cpython-37.pyc
apps/acts/__pycache__/views.cpython-37.pyc
apps/dbd/views/roles/__pycache__/views.cpython-37.pyc
apps/dbd/views/reportes/__pycache__/reporte_producto.cpython-37.pyc
apps/dbd/views/producto/__pycache__/views.cpython-37.pyc
apps/dbd/views/reportes/__pycache__/reporte_proveedor.cpython-37.pyc
apps/dbd/views/pedido/__pycache__/views.cpython-37.pyc
apps/dbd/views/errors/__pycache__/views.cpython-37.pyc
apps/dbd/forms/roles/__pycache__/rol_form.cpython-37.pyc
apps/dbd/forms/pedido/__pycache__/pedido_form.cpython-37.pyc
apps/dbd/views/reportes/__pycache__/reporte_pedido.cpython-37.pyc
apps/acts/migrations/__pycache__/__init__.cpython-37.pyc
apps/dbd/forms/cliente/__pycache__/cliente_form.cpython-37.pyc
apps/acts/migrations/__pycache__/0001_initial.cpython-37.pyc
apps/dbd/forms/producto/__pycache__/producto_form.cpython-37.pyc
apps/dbd/views/cliente/__pycache__/views.cpython-37.pyc
SistemaGestionPedidos/settings.py
