#ignorando archivos no utiles 
templates/dashboard-influncer.html
templates/dashboard-finance.html
templates/dashboard-sales.html
templates/ecommerce-product.html
templates/ecommerce-product-checkout.html
templates/ecommerce-product-single.html
templates/influencer-finder.html
templates/influencer-profile.html
templates/pages
templates/README.md


SistemaGestionPedidos/__pycache__
apps/__pycache__
apps/dbd/__pycache__
apps/dbd/forms/categoria/__pycache__
apps/dbd/migrations/__pycache__
apps/dbd/modelos/__pycache__
apps/dbd/views/categoria/__pycache__
apps/dbd/views/dashboard/__pycache__
apps/lhp/__pycache__
apps/lhp/migrations/__pycache__
templates/dashboard-influencer.html
apps/dbd/migrations
apps/dbd/views/proveedor/__pycache__
apps/dbd/forms/proveedor/__pycache__
apps/dbd/forms/proveedor/__pycache__
apps/dbd/forms/proveedor/__pycache__/proveedor_form.cpython-36.pyc
apps/dbd/views/proveedor/__pycache__/views.cpython-36.pyc
apps/dbd/views/roles/__pycache__/views.cpython-36.pyc
apps/dbd/forms/roles/__pycache__/rol_form.cpython-36.pyc
apps/acts/__pycache__/views.cpython-36.pyc
apps/acts/__pycache__/views.cpython-36.pyc
apps/acts/__pycache__/__init__.cpython-36.pyc
apps/acts/__pycache__/admin.cpython-36.pyc
apps/acts/__pycache__/forms.cpython-36.pyc
apps/acts/__pycache__/models.cpython-36.pyc
apps/dbd/forms/cliente/__pycache__/cliente_form.cpython-36.pyc
apps/dbd/views/cliente/__pycache__/views.cpython-36.pyc
SistemaGestionPedidos/settings.py
SistemaGestionPedidos/apps/acts/migrations
apps/acts/migrations/__pycache__/0001_initial.cpython-36.pyc
apps/acts/migrations/0001_initial.py
apps/acts/migrations/__pycache__/0001_initial.cpython-36.pyc
apps/acts/migrations/__pycache__/__init__.cpython-36.pyc
apps/dbd/views/reportes/__pycache__/views_reportes.cpython-36.pyc
.vscode/settings.json
apps/dbd/views/reportes/__pycache__/reporte_proveedor.cpython-36.pyc
