<!DOCTYPE html>
<html>
	<head>
		<title>Reporte | Proveedor</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<style>
			@page {
						size: A4;
						margin: 1cm;
					@frame footer_frame {           /* Static frame */
						-pdf-frame-content: footer_content;
						border: 1px solid black;
					}
				}
			.titulo {
				text-align: center;
				font-size:15px;
				font-weight: bolder;
				text-transform: uppercase;
			}
		</style>
	</head>
	<body>
		<header class="header">
			<div class="container">
				<div class="titulo">
					<h1>{{ datos.empresa|upper }}</h1>
				</div>
				<div class="subtitulo">
					<div>
						
					</div>
				</div>
			</div>
		</header>
		<div>
			<div>

			</div>
			<div>
				<table >
					<thead >
						<th>ID</th>
						<th>RUC</th>
						<th>Nombre</th>
						<th>Descripcion</th>
						<th>Correo</th>
						<th>telefono</th>
					</thead>
					<tbody>
						{% for proveedor in proveedores %}
							<tr>
								<td>{{proveedor.id_proveedor}}</td>
								<td>{{proveedor.ruc}}</td>
								<td>{{proveedor.nombre}}</td>
								<td>{{proveedor.descripcion}}</td>
								<td>{{proveedor.correo}}</td>
								<td>{{proveedor.telefono}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>