{% load widget_tweaks %}
<div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
        <form method="POST" role="form" class="form-inline" action="{% url 'dbd:proveedor_new' %}">
            {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title" >{{titulo}} <i class=" fas fa-clipboard-list"></i></h5>
            </div>
            <div class="modal-body">
                <div class="card-body">

                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-info">
                        <i class="fas fa-save"></i> 
                        Guardar Registro
                </button>                    
                <button type="button" class="btn btn-danger" onclick="return cerrar_modal()">
                        <i class=" fas fa-exclamation-circle"></i> Cancelar
                </button>                          
            </div>
        </form>
    </div>
</div>

