{% load widget_tweaks %}
<div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
        <form method="POST" role="form" class="form-inline" action="{% url 'dbd:proveedor_delete' obj.pk %}">
            {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title" >{{titulo}}</h5>
            </div>
            <div class="modal-body">
                <div class="card-body ">
                    <p>
                    Eliminar proveedor <strong> {{obj.nombre}}</strong> de la fecha 
                    {{obj.fecha_crea}}
                    </p>
                </div>
            </div>             
            <div class="modal-footer">
                <button type="submit" class="btn btn-warning">
                        <i class="fas fa-trash"></i> 
                        Si 
                </button>                    
                <button type="button" class="btn btn-danger" onclick="return cerrar_modal()">
                        <i class=" fas fa-exclamation-circle"></i> Cancelar
                </button>                          
            </div>
        </form>
    </div>
</div>

