{% load widget_tweaks %}
<div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
        {% if obj %}
        <form method="POST" role="form" class="form-inline" action="{% url 'dbd:proveedor_edit' obj.pk %}">
        {% else %}
        <form method="POST" role="form" class="form-inline" action="{% url 'dbd:proveedor_new' %}">
        {% endif %}
            {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title" >{{titulo}} <i class=" fas fa-clipboard-list"></i></h5>
            </div>
            <div class="modal-body">
                <div class="card-body row">
                    <div class="col-md-6 mb-3">
                        <label class="col-3 col-lg-5 col-form-label text-right">{{form.nombre.label}}</label>
                        {{form.nombre}}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="col-3 col-lg-2 col-form-label text-right">{{form.ruc.label}}</label>
                        {{form.ruc}}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="col-3 col-lg-3 col-form-label text-right">{{form.correo.label}}</label>
                        {{form.correo}}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="col-3 col-lg-4 col-form-label text-right">{{form.telefono.label}}</label>
                        {{form.telefono}}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="col-3 col-lg-4 col-form-label text-right">{{form.direccion.label}}</label>
                        {{form.direccion}}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="col-1 col-lg-8 col-form-label text-right">{{form.codigo_postal.label}}</label>
                        {{form.codigo_postal}}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="col-1 col-lg-2 col-form-label text-right">{{form.pais.label}}</label>
                        {{form.pais}}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="col-1 col-lg-4 col-form-label text-right">{{form.provincia.label}}</label>
                        {{form.provincia}}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="col-1 col-lg-3 col-form-label text-right">{{form.ciudad.label}}</label>
                        {{form.ciudad}}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="col-1 col-lg-3 col-form-label text-right">{{form.estado.label}}</label>
                        {{form.estado}}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="col-1 col-lg-5 col-form-label text-right">{{form.descripcion.label}}</label>
                        {{form.descripcion|attr:'rows:2'|attr:'cols:40'}}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                {% if obja %}
                <button type="button" class="btn btn-info" onclick="return cerrar_modal()">
                        <i class=" fas fa-undo"></i> Volver
                </button>
                {% elif obj%}
                <button type="submit" class="btn btn-info">
                        <i class="fas fa-save"></i> 
                        Guardar Registro
                </button>                    
                <button type="button" class="btn btn-danger" onclick="return cerrar_modal()">
                        <i class=" fas fa-exclamation-circle"></i> Cancelar
                </button>
                {% else %}
                <button type="submit" class="btn btn-info">
                        <i class="fas fa-save"></i> 
                        Guardar Registro
                </button>                    
                <button type="button" class="btn btn-danger" onclick="return cerrar_modal()">
                        <i class=" fas fa-exclamation-circle"></i> Cancelar
                </button>
                {% endif %}                          
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
$(function() {

    var url = $("form").attr("action"); /*obtenemos el url correspondiente si es edit o new*/
    
    var token = jQuery("[name=csrfmiddlewaretoken]").val();/*vamos a leer el csrftoken que tiene el form */
    
    $("form").submit(function(e){
        e.preventDefault();
        /*capturamos la data del formulario*/
        var formData= $("form").serializeArray(); /*nos devuelve un array con los respectivos datos del form*/

        $.ajax({
            url:url,
            method:"POST",
            headers:{'x-CSRFToken':token},
            data :formData
        })
        .done(function(r,textStatus,xhr){ /*preguntaremos si se ejecuto bien*/
            if(xhr.status = 200){ /*preguntaremos por el status */
                location.reload(true); /*si es True, recargaremos la pagina*/
                alertify.set('notifier','position','bottom-rigth');
                alertify.set('notifier','delay', 20);
                alertify.success('Registro exitoso');
            }
            else{ /*si no es True, le pasamos la function mensaje(); ya creada*/
                mensaje(textStatus);
            }
        }).fail(function(error){ /*si fallase algo,el form nos mandara el mensaje de error de lo que esta mal en el form*/
               mensaje('Registro ya existente o ya coincide con otro'); /*llamamos a nuestra funcion para que nos vote un modal de error*/
            });
    });
    /**
    $('#success').click(function () {
        mensaje('aa');
        toastr.error("Noooo oo oo ooooo!!!", "Title", {
            "timeOut": "0",
            "extendedTImeout": "0",
            "positionClass":"toast-bottom-right",
            "showDuration":"1000"
        });    
    });
    **/
});
</script>