{% extends 'base.html' %}

{% block title %}
{{titulo}}
{% endblock title %}


{% block content %}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header" id="top">
            <h2 class="pageheader-title text-center">{{titulo}}</h2>
        </div>
    </div>

{% if perms.dbd.add_group %}  
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
        <a href="#" onclick="return abrir_modal('{% url 'dbd:rol_new' %}')" class="btn btn-outline-secondary"><i class="fa fa-plus" aria-hidden="true"></i>
Agregar rol</a>        
    </div>
{% endif %}
</div>
<hr>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-body">
              <div class="table-responsive">
              <table id="dataTable" class="table table-striped" style="width:100%">
                  <thead>
                    <th>ID</th>
                    <th>Nombre del Rol</th>
                    <th>Opciones</th>
                  </thead>
                  <tbody>
                  {% for rol in rol_l %}
                    <tr>
                      <td>{{rol.id}}</td>
                      <td>{{rol.name}}</td>
                      <td>  

                      
                      {% if perms.dbd.change_group %}
                      <button type="button" class="btn btn-info btn-circle"  onclick="return abrir_modal('{% url 'dbd:rol_edit' rol.id %}')"  ><i class="fa fa-edit"></i></button>
                      {% endif %}
                      {% if perms.dbd.delete_group %}
                      <button type="button" class="btn btn-danger btn-circle" onclick="return abrir_modal('{% url 'dbd:rol_delete' rol.id %}')" ><i class="far fa-thumbs-down"></i></button>
                      {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
              </table>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script>
  $(document).ready(function() {
    $('#dataTable').DataTable()
    });
</script>
{% endblock extra_js %}