{% extends 'base.html' %}
{% block title %}
{{titulo}}
{% endblock title %}

{% block extra_css %}
<style>
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

</style>
{% endblock extra_css %}

{% block content %}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header" id="top">
            <h2 class="pageheader-title text-center">{{titulo}}</h2>
        </div>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
        <a href="#"  onclick="return abrir_modal('{% url 'dbd:usuario_new' %}')"  class="btn btn-outline-secondary"> <i class="fa fa-plus" aria-hidden="true"></i> Agregar Usuario</a>        
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-body">
              <div class="table-responsive">
              <table id="dataTable" class="table table-striped" style="width:100%">
                  <thead>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Usuario</th>
                    <th>Email</th>
                    <th>Staff</th>
                    <th>Roles</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                  </thead>
                  <tbody>
                    {% for us in usuario_l %}
                    <tr>
                      <td>{{us.id}}</td>
                      <td>{{us.first_name}}</td>
                      <td>{{us.last_name}}</td>
                      <td>{{us.username}}</td>
                      <td>{{us.email}}</td>
                      <td>
                      {% if us.is_staff %}
                        <i class="fa fa-check-circle "></i>
                      {% else %}
                        <i class="fas fa-minus-circle"></i>
                      {% endif %}
                      </td>
                      <td>{% for group in us.groups.all %}
                        <div class="badge badge-pill badge-primary">{{group}}</div>
                      {% endfor %}</td>
                      <td>
                      {% if us.is_active %}
                      <span class="label label-success">Activo</span>
                      {% else %}
                      <span class="label label-danger">Inactivo</span>
                      {% endif %}
                      </td>
                      <td>
                            <button type="button" class="btn btn-info btn-circle"  onclick="return abrir_modal('{% url 'dbd:usuario_edit' us.id %}')" ><i class="fa fa-edit"></i></button>
                            <button type="button" class="btn btn-danger btn-circle" onclick="return abrir_modal('{% url 'dbd:usuario_delete' us.id %}')" ><i class="far fa-thumbs-down"></i></button>
                        </td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script>
  $(document).ready(function() {
    $('#dataTable').DataTable()
    });
</script>
{% endblock extra_js %}